# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# log
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.iobj
*.ipdb
*.pdb

# VSTUDIO
*/.vs
*/Debug
*/newDesktop/Debug
*/newDesktop/Release

# firefox
firefox

#忽略firefox的安装包
!getFirefox/*
getFirefox/firefox.exe
